/* MENU */
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* MENU */

.menu{
position: relative;
width: 100%;
height: 15vh;
background: #fff;

}

nav{

display: flex;
width: 84%;
margin: auto;
padding: 20px 0;
align-items: center;
justify-content: space-between;

}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;

}

nav ul li a:hover{
  color: orange;
  font-size: 20px;
}


/* FORMULARIO DE CONTACTO */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-style: bold;
  }

  p {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 5px;
  }
  
  form {
    max-width: 400px;
    width: 100%;
  }
  
  .form-group {
    
    text-decoration: none;
    background-color: #4B0263;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    /* resolver cambiar tipografía */
    font-family: sans-serif;
    font-size: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color:#FEBB09;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color:#FEBB09;
  }
  

  @media only screen and (max-width: 700px) {
    .historia {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .historia {
      width: 100%;
    }
  }