/* MENU */
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* MENU */

.menu{
position: relative;
width: 100%;
height: 15vh;
background: #fff;

}

nav{

display: flex;
width: 84%;
margin: auto;
padding: 20px 0;
align-items: center;
justify-content: space-between;

}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;

}

nav ul li a:hover{
  color: orange;
  font-size: 20px;
}


/* CARRUSEL DE TRABAJOS */
.carousel-container {
  width: 100%;
  max-width: 600px; 
  margin: 0 auto;
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.slide {
  flex-shrink: 0;
  position: relative;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.caption h3, .caption p {
  margin: 0;
  text-align: center;
}

.carousel-container:hover .caption {
  transform: translateX(0%);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}





/* MEDIA */

@media only screen and (max-width: 700px) {
  .historia {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .historia {
    width: 100%;
  }
}