*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* MENU */

.menu{
position: relative;
width: 100%;
height: 15vh;
background: #fff;

}

nav{

display: flex;
width: 84%;
margin: auto;
padding: 20px 0;
align-items: center;
justify-content: space-between;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

nav ul li a:hover{
    color: orange;
    font-size: 20px;
}



/* INTRODUCCIÓN */


.intro{
    margin-left: 8%;
    margin-top: 15%;
    
}

.intro h1{
    font-size: 40px;
    color:black;
    margin-bottom: 20px;
    
}

span{
    color:orange;
}

.intro p{
    color:#555;
    line-height: 22px;
    font-family: sans-serif;
}

.intro a{
  background-color: #4B0263;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color:#fff;
  display: inline-block;
  margin:30px 0; 
  border-radius: 5px; 
  font-family: sans-serif;
}

.imagenes{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.imagenes img{
height: 100%;
position:absolute;
left: 50%;
bottom: 0;
transform: translate(-50%);
transition: bottom 1s, left 1s;
}

.imagenes:hover .shape{
    bottom:40px;
}

.imagenes:hover .yo{
    left: 45%;
}

@media only screen and (max-width: 700px) {
    .historia {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .historia {
      width: 100%;
    }
  }